.nav_list {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
}

.nav_list li {
  color: white;
  align-items: center;
  text-decoration: none;
}

.nav_list i {
  color: white;
  font-size: 25px;
  align-items: center;
  transition: all 0.4s ease;
  height: 45px;
  min-width: 60px;
  border-radius: 12px;
  line-height: 50px;
}

.nav_list li {
  height: 35px;
  font-size: 25px;
  min-width: 60px;
  border-radius: 12px;
  line-height: 50px;
  color: white;
}

.nav_list .toolTip {
  position: absolute;
  left: 70px;
  top: 0%;
  transform: translateY(-50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
}

.nav_list :hover .toolTip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: rgb(9, 0, 92);
  padding: 6px 14px;
}

.sidebar .active {
  width: 250px;
}

.logo {
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}
.logo_name {
  font-size: 20px;
}

.logo_name i {
  font-size: 28px;
  margin-top: 7px;
}

.sidebar .bars {
  position: absolute;
  color: white;
  left: 87%;
  top: 13px;
  font-size: 25px;
  height: 40px;
  width: 15px;
  text-align: center;
  line-height: 45px;
  transform: translateX(-50%);
}
.sidebar ul {
  margin-top: 20px;
}