.list {
  width: 95%;
  height: 80%;
  border-radius: 5px;
  padding: 6px;
  color: rgb(255, 255, 255);
  background-color: rgba(70, 70, 70, 0.555);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex; 
  flex-direction: column;
}

.list__searchbox {
  display: flex;
  border-radius: 5px solid white;
  background-color: green;
}

.list__issues {
  justify-content: space-around;
  
}

.list__issues:hover {
  background-color: rgba(70, 70, 70, 0.555);
}
