.list__container {
  width: 95%;
  height: 80%;
  border-radius: 5px;
  padding: 6px;
  color: rgb(255, 255, 255);
  background-color: rgba(70, 70, 70, 0.555);
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.list__header_container {
  display: flex;
  align-items: center;
}

.list__searchbox {
  display: flex;
  color: rgb(255, 255, 255) !important;
  border-radius: 5px solid white;
  flex-direction: column;
}

.list__issue_item {
  width: 100%;
}

.list__issue_button {
  width: 100%;
  display: flex !important;
  align-items: flex-start !important;
  justify-content: left !important;
}

.list__column {
  padding: 16px !important;
  text-align: left;
}

.list__large {
  flex: 1.5
}
.list__small {
  flex: 1 
}

.list__issues:hover {
  background-color: rgba(70, 70, 70, 0.555);
}
