.tab-container {
    display: flex;
}

.tab-item {
    
    border-radius: 10px !important;
    padding: 16px !important;
}

.tab-item-selected {
    font-style: italic;
    color: rgba(43, 43, 43, 0.788);
}